.commendations-modal {
  &__header {
    background-color: var(--faction-background-color);
  }

  &__main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__sidebar {
    --commendations-modal-sidebar-width: 280px;

    width: var(--commendations-modal-sidebar-width);
    min-width: var(--commendations-modal-sidebar-width);
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-l);
    gap: var(--spacing-m);
  }

  &__filters {
    display: flex;
    gap: var(--spacing-m);
  }

  &__search {
    appearance: none;
    border-radius: var(--spacing-s);
    border: none;
    padding: var(--spacing-m);
    font-family: inherit;
  }
}

.campaign {
  &__title {
    position: sticky;
    inset-block-start: 0;
    margin: 0;
    padding: var(--spacing-l);
    background-color: var(--body-background-color);
    z-index: 2;
    font-size: 16px;
  }

  &__commendation-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacing-l);
    padding: var(--spacing-l);

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  
    @media (min-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.campaign-anchor {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  border-radius: var(--spacing-m);
  transition: background-color 300ms;

  &:hover {
    background-color: var(--faction-background-color);
  }
}

.commendation-modal-filter {
    background-color: var(--body-background-color);
    padding: var(--spacing-m);
    border-radius: var(--spacing-s);
    height: fit-content;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid var(--body-background-color);
    position: relative;

    input {
      appearance: none;
      position: absolute;
      width: 100%;
      height: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      margin: 0;
    }

    &:has(input:checked) {
      border-color: var(--faction-value-color);
    }
}
