.app-main {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  grid-gap: var(--spacing-l);
  padding: var(--spacing-l);
  flex-grow: 1;
  overflow: auto;

  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr;
  }
}

.status {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;

  &__description {
    font-size: 12px;
  }
}

.base-commissioned-values {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  span:nth-child(2), .currency-display:nth-child(2) {
    color: var(--font-secondary-color);
  }
}

.button {
  --button-background-color: var(--body-background-color);
  --button-hover-background-color: var(--body-background-color-lighter);

  border: none;
  border-radius: var(--spacing-s);
  padding-inline: var(--spacing-l);
  padding-block: var(--spacing-m);
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  background: var(--button-background-color);
  display: flex;
  align-items: center;
  gap: var(--spacing-l);
  text-decoration: none;
  color: inherit;
  justify-content: center;

  &:hover:not(:disabled) {
    --button-background-color: var(--button-hover-background-color)
  }

  &:disabled {
    opacity: 0.8;
  }

  &--secondary {
    --button-background-color: var(--body-secondary-background-color);
    --button-hover-background-color: var(--body-secondary-background-color-lighter);
  }
}

kbd {
  border: 2px solid #696969;
  padding: var(--spacing-s);
  border-radius: var(--spacing-s);
  box-shadow: inset 0 -1px 0 0 #696969;
}
